<!DOCTYPE html>
<html lang="en">
<head>
  <title>Definitions</title>
  <%- include('partials/head') %>
</head>
<body>
  <main class="wrapper center-child">
    <article>
      <dt><%=term%></dt>
      <dd><%=definition%></dd>
    </article>
  </main>
  <%- include('partials/footer') %>
  <%- include('partials/foot') %>
</body>
</html>