<%- include('partials/header') %>
<main>
  <header><h1><%= title %></h1></header>
  <p><%= description %></p>
  <p>Term: <%= formData.term %></p>
  <p>Definition: <%= formData.definition %></p>
</main>
<%- include('partials/footer') %>
